/* src\components\Header\styles.css */

.header-principal {
  width: 97%;
  padding: 0 32px;
  height: 90px;
  background: linear-gradient(90deg,  #1b052e 0%, #000000 100%);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 16px rgba(7, 250, 35, 0.096);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(6px);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo-text {
  margin-left: 10px;
  font-size: 1.3rem;
}

.nav-menu {
  display: flex;
  gap: 32px;
}

.nav-menu a {
  color: #38E54D;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
}

.nav-menu a:hover {
  color: #fff;
  border-bottom: 2px solid #38E54D;
  text-shadow: 0 2px 5px #09e24a60;
}

/* Responsivo */
@media (max-width: 768px) {
  .header-principal {
    flex-direction: column;
    height: auto;
    padding: 16px;
  }
  .nav-menu {
    gap: 16px;
    margin-top: 8px;
  }
  .logo {
    font-size: 1.5rem;
  }
    .logo-text {
        font-size: 1rem;
    }
    .nav-menu a {
        font-size: 0.9rem;
    }
}

/* src/components/Header/styles.css ou src/App.css */

/* Estilos para o cabeçalho no tema escuro */
body.dark .header {
  background-color: #0d0d0d; /* Um preto muito escuro para o cabeçalho */
  transition: background-color 0.5s;
}

body.dark .header-logo,
body.dark .header-nav a {
  color: #e0e0e0; /* Um cinza claro para o texto */
  transition: color 0.5s;
}

/* Efeito de hover para os links no tema escuro */
body.dark .header-nav a:hover {
  color: var(--secondary-green); /* Usa a cor verde de destaque no hover */
}
